* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

section .imgBox {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .imgBox img {
  position: absolute;
  object-fit: cover;
}

section .ContentBox {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

section .ContentBox .formBox {
  width: 100%;
}

section .ContentBox h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #1e88e5;
  display: inline-block;
  letter-spacing: 1px;
}

section .ContentBox .formBox .inputBox {
  margin-bottom: 20px;
}

section .ContentBox .formBox .inputBox span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

section .ContentBox .formBox .inputBox input {
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}

section .ContentBox .formBox .inputBox input[type="submit"] {
  background-color: #1e88e5;
  color: white;
}

section .ContentBox .formBox .remember {
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}
